{% extends 'base.html' %}

{% block main %}
<div class="container mt-4">
    <h1>Explorando datos a través de la web:</h1>
    <h2>Introducción a Django para la ingeniería en datos</h2>
    
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non leo porta, 
        elementum odio ut, hendrerit ligula. In porttitor, leo a condimentum eleifend,
        lorem arcu lobortis lacus, eu tincidunt justo lorem vel magna. Donec tempus eros
        et ornare posuere. Pellentesque eleifend nisi purus, vel congue arcu interdum blandit. 
    </p>
    <p>
        Duis cursus nulla vel eros lacinia, et commodo est gravida. Duis nunc est, porttitor 
        quis molestie quis, tempus in arcu. Orci varius natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Morbi aliquet dignissim enim, sed vulputate turpis hendrerit
        eu. Mauris et sapien nunc. Sed a varius est. Sed quis hendrerit justo.
    </p>
</div>
{% endblock main %}